.button-1 {
  background-color: #629ac2;
  border-radius: 7px;
  border-style: none;

  color: #adadad;
  cursor: pointer;

  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5px;
  width: 50%;
  color: #2c2c2c;
  height: 33px;
  -ms-transform: translateY(-29%);
  transform: translateY(-29%);

}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}


.button-2 {
  background-color: rgb(98, 192, 98);
  border-radius: 7px;
  border-style: none;
  color: #adadad;
  cursor: pointer;
  height: 100%;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5px;
  width: 50%;
  color: #2c2c2c;
  -ms-transform: translateY(-29%);
  transform: translateY(-29%);

}
.box {
  box-shadow:
  0 12.8px 6.2px rgba(0, 0, 0, 0.034),
  0 16.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 10px 40px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  width: 50vw;
  margin: 100px auto;
  background: white;
  border-radius: 50px;
}

.button-2:hover,
.button-2:focus {
  background-color: #F082AC;
}

.button-3 {
  background-color: rgb(194, 89, 112);
  border-radius: 7px;
  border-style: none;

  color: #adadad;
  cursor: pointer;

  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 100%;
  margin: 5px;
  width: 50%;
  color: #2c2c2c;
  -ms-transform: translateY(-29%);
  transform: translateY(-29%);

}

.button-3:hover,
.button-:focus {
  background-color: #F082AC;
}
